@use '../../../_css/queries.scss' as *;

.nav {
  display: flex;
  gap: calc(var(--base) / 4) var(--base);
  align-items: center;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 100ms linear;
  visibility: visible;

  > * {
    text-decoration: none;
  }
}

.user {
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  background-color: transparent;
  text-decoration: none;
  display: inline-flex;
  padding: 5px 24px;
  padding-bottom: 7px;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  border-radius: 10px;
  
  // background-color: black;
  // color: white;
  // text-transform: uppercase;

  background-color: var(--theme-elevation-1000);
  color: var(--theme-elevation-0);
}
.hide {
  opacity: 0;
  visibility: hidden;
}
